.search-container {
    float: right;
    vertical-align: middle;
    border: 1px solid black;
    margin:9px 10px ;
}

.topnav input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    outline: none;
}

.topnav .search-container button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
    float: right;
}

.topnav .search-container button:hover {
    background: #ddd;
}
