
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.dropbtnarrow {
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Inconsolata';
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    top: 100%;
}

.dropdown-btn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow-y: auto;
}


.dropdown-content .dropdown-list li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown-list .dropdown-btn {
    font-size: 18px;
   align-items: flex-start;
}